@font-face{

    font-family: 'Amsdam';
    
    src: url('../fonts/AmsdamFF/Amsdam.ttf'),

    
    url('../fonts/AmsdamFF/Amsdam.ttf') format('truetype');
    
    font-weight: normal;
    
    font-style: italic;
    
    
}
@font-face{

    font-family: 'Crimson Pro';
    
    src: url('../fonts/CrimsonPro/CrimsonPro-Italic-VariableFont_wght.ttf'),

    
    url('../fonts/CrimsonPro/CrimsonPro-Italic-VariableFont_wght.ttf') format('truetype');
    
    font-weight: normal;
    
    font-style: italic;
    
    
}
*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
a{
    text-decoration: none;
    color: #757575;
}
li{
    list-style-type: none;
}
#wrapper{
    width: 1600px;
    background-color: #E3E3E3;
}

#header{
    background-color: #FFF;
    height: 63px;
    font-family: 'Montserrat', sans-serif;
    color: #757575;
    letter-spacing: 3px;
    /*line-height: 63px;*/
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}
#first_background{
    background-image: url('../img/first_background.png');
    background-repeat: no-repeat;
    height: 698px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#logo img{
    height: 36px;
}
#top_menu{
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 12px;
    width: 700px;
    justify-content: space-evenly;
}
.sub_menu{
    
    height: 100%;
    line-height: 63px;
    user-select: none;
    transition: all 0.5s;
    color:red; 
}
.sub_menu a{
    transition: all 0.5s;
}
#backgr_titileLorem{
    text-align: center;
    font-family: 'Amsdam';
    color: white;
    font-size: 9px;
    margin-top: 66px;
}
.sub_menu:hover a{
    font-size: 14px;
    color:red; 
}
.contacts{
    display: flex;
    align-items: center;
    width: 100px;
}
.contacts li{
    display: inline-block;
   
}
.contacts li:last-child{
    margin-top: 4px;
   
}
.contacts i{
    transition: all 0.5s;
}
.contacts i:hover{

    transform: scale(1.3);
}
.contacts li::after{
    content: "|";
    font-size: 19px;
}
.white-after li::after{
    color:#aaaaaa;
}
.contacts li:last-child::after{
    content: none;
}
#pop_menu{
    text-align: center;
    margin:auto;
    color: #FFF;
}
#description{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
}
#our_company{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Amsdam';
    font-size: 36px;
    margin-top: 36px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-weight: 200;
}
#our_company img{
    transition: all 0.5s;
}
#our_company img:first-child{
    margin-right: 300px; 
    cursor: pointer;
}
#our_company img:last-child{
    margin-left: 300px; 
    cursor: pointer;
}
#our_company img:hover{
    transform: scale(1.2);
}
#start_button{
    border:  2px solid white;
    width: 150px;
    padding: 10px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    color: #FFF;
}
#start_button{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}
#description::after{
    margin-top: 26px;
}
.first_list::after{
    content: url('../img/Line.png');
    display: block;    
}
.first_list:last-child::after{
    content: none;
    display: none;
}
#first_list_first_photo{
    margin-left: 300px;
      cursor: pointer;
}
#first_list_second_photo{
    display: block;
     user-select: none;
      margin: auto;
       margin-top: 3px;  
       text-align: center;
}
#infoblock_first{

}
.infoblock>img{
    margin-bottom: 10px;
}
#start_button:hover{
    color: black;
    background-color: white;
}
#arrow:hover ~ #start_button{
    color: black;
    background-color: white;
}
#history_block{
    background-color: #ededed;
}
.titles{
    font-family: 'Amsdam';
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 200;
    letter-spacing: 2px;
}
.titles::after{
    content: url('../img/black_line.png');
    display: block;
}
.white-line{
    color: white;
    padding-top: 60px;
}
.white-line::after{
    content: url('../img/Line-short.png');
    color: white;
}
.titles_description{
    font-family: 'Crimson Pro', serif;
    text-align: center;
    font-size: 14px;
    width: 1000px;
    margin: 30px auto;
    letter-spacing: 1.5px;
}
#blockCenter {
    background-color: #FFF;
    margin: 100px 215px 0px 215px;
    width: 1170px;
    height: 753px;
}
#blocktext {
    margin-top: 35px;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    padding: 0px 70px 0px 70px;
}
.contactbutton{
    text-align: center;  
    width: 134px;
    height: 40px;
    border: 2px solid #454444;
    font-size: 13px;
    display: block;
    float: left;
    margin-right: 4px;
    
    font-family: 'Montserrat', sans-serif;
    background-color: #fff; 
    color:#454444;
}
.contactbuttondd {
    margin: auto;
    width: 134px;
    height: 40px;
    border: 2px solid #454444;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #454444;
    margin-top: 30px;
    line-height: 32px;
}
.contactbutton:hover, .contactbuttondd:hover {
    background-color: #454444;
    transition: all 0.5s;
    color: #E3E3E3;
}

.infoblock {
    text-align: center;  
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    /* display: inline-block; */
    border-right: 1px solid;
    width: 270px;
}
.infoblock:last-child{
    border-right: none;
}
#imageblock_k {
    text-align: center;  
    width: 1600px;
    height: 660px;
    background-image: url('../img/fonK.png'); 
    padding-top: 60px;
}
#imageblock_k .titles{
    margin-top: 0;
}
#teamdescription {
    /* display: inline; */
    
    margin-top: 30px;
}

.manphoto_k {
    text-align: center;  
    display: inline-block;
    width: 271px;
    height: 338px;
    margin-right: 30px;
}
#wrapper_first_buttons{
    margin-left: 450px; margin-top: 55px;
}

.maninfo_k {
    text-align: center;  
    transition: opacity 0.5s;
    /* display: none;  */
    background-color: aliceblue;
    opacity: 0;
    margin: 9px 7px 9px 7px;

    width: 257px;
    height: 320px;

    font-size: 13px; 
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.profession_k {
    margin-top: 4px;
    margin-left: 20px;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
}

.profession_k:after {
    margin-top: 10px;
    content: "";
    display: block;
    width: 146px;
    height: 2px;    
    background-color: black;
}

.socialnetw_k {
    margin-top: 5px;
    margin-left: 20px;
    /* display: inline-block; */
}

#services_background
{
    background-image: url('../img/services-back.png');
    background-repeat: no-repeat;
    height: 698px;
}
#services_background .titles_description{
    color: white;
}
.dd_services_text
{
    display: inline-block;
    color: wheat;
    
}
#dd_menu_names
{
    margin-left: 314.31px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    color: #CCC;
    width: 1170px
}
.dd_services
{
   
    background-repeat: no-repeat;
    padding: 40px 40px 40px 40px;
    height: 600px;
    
}

.dd_title_of_sertifications
{
    text-align: center;
     margin: 20px auto 0 auto;   
    height: 54px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin: auto; */
    
}
.dd_services:hover .dd_title_of_sertifications
{
    /*font-size: 17px;*/
    letter-spacing: 5px;
    /* margin-left: 10px; */
}
.dd_descriptions_of_sertifications {
    width: 190px;
    margin-top: 15.68px;
    word-spacing: 2px;
    padding-bottom: 40px;
    font-family: 'Crimson Pro', serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.lamp_icon{
    padding-bottom: 40px;
}
#portfolio_k {
    width: 1600px;
    height: 355px;
    background-color: #fff;
}
#pictureset_k {
    width: 1600px;
    height: 708px;
    display: flex;
    align-items: flex-start;
}
.twopictures {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    flex-basis: 160px;
    
}
.around_two_pictures{
    display: inline-block;
    width: 25%;
    height: 708px;
    overflow: hidden;
    overflow: hidden;
}
.around_two_pictures div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
}
.around_two_pictures div{
    /* width: 400px; */
    transition: all 0.8s;
}
.around_two_pictures:hover div{
    transform: scale(1.1);
}
.around_two_pictures div:hover{
    transform: scale(1.3);
}
#prices_k {
    height: 780px;
    width: 1600px;
    background-color: #e3e3e3;
}

#price_blocks_k {
    height: 550px;  
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    display: flex;
}
.price_k {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    width: 370px;
    height: 550px;
    background-color: white;
}
.price_k>a>div{
    padding-top: 10px;
     margin-left: 115px;
      margin-top: 50px;

      
}
.price_k>img{
    margin-top: 20px;
}
#rectangleBlog{
    margin-top: 30px;
    height: 826px;
    width: 1600px;
    background: #000000;
    overflow: hidden;
}
.lines_photo{
    height: 413px;
    display: flex;
    align-items: center;
}
.photo_ada{  
    width: 400px;
    height: 100%;
    /*height: 400px;
    margin: 0px;  
    padding: 0px;*/
    height: 100%;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    
}
.photo_ada:hover img{
    transform: scale(1.2);
}
.photo_ada img{  
    background-position: center;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    transition: all 0.8s;
}
.text_blog{
    height: 100%;
    width: 400px;
    padding: 75px 30px 0px 30px;
    /*height: 400px;
    margin: 0px;
    padding: 50px 37px;*/
    text-align: left;
    display: inline-block;
}
#textBlog1{
    font-family: 'Crimson Pro', serif;
    font-size: 12px;
    color: #d7d7d7;
    font-style: italic; 

}
#textBlog1::after{
    content: url('../img/line_flat.png');
    display: block;
}
#textBlog2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #bfbfbf;
    text-transform: uppercase; 
    margin-bottom: 30px;
    /*font-style: regular;*/
}
#textBlog3{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    color: #c7c7c7;
    letter-spacing: 1.5px;
}
.clients{
    height: 523px; 
    background-color: #fff;
}
.clients .titles{
    margin-top: 0; 
    padding-top: 70px;
}
.logotypes{
    display:flex; 
    justify-content: space-between; 
    padding-top: 80px;
    margin: 0px 285px;
}
.testimonials{
    height: 518px;
    width: 1600px;
    background-image: url('../img/testimonials_back.png');
    background-size: 100%; 
    /*background-color: rgb(170, 255, 188);*/
    padding-top: 75px;
}
.circle{
    height: 107px;
    width: 107px;
    border-radius: 50%;
    background-image: url(../img/man_testimonials.png);
    margin-left: auto;
    margin-right: auto;
}
#text_testimonials{
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-style: italic;
    width: 770px;
    color: #e2e3e3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#text_testimonials::before
{
    content: url('../img/kavs_start.png');
    position: relative;
    margin-right: 10px;
    
}
#text_testimonials::after
{
    content: url('../img/kavs_end.png');
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
#text_testimonials1{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
    color: #e2e3e3;
    text-align: center;
}
.textTesti1{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #e2e3e3;
    margin-top: 68px; 
    text-align: center;
    /*font-style: regular;*/
}
.circleSmall{
    height: 12px;
    width: 12px;
    background-color: #c5c5c5;
    border-radius: 50%;
    display: inline-block;
}
.circleSmallPaint{
    height: 12px;
    width: 12px;
    background-color: #e3e3e3;
    border-radius: 50%;
    display: inline-block;  
}
.map{
    height: 513px;
    width: 1600px;
    background: url(../img/map_back.png) no-repeat;
    background-size: 100%;
    /*background-color: rgb(170, 255, 241);*/
    padding-top: 207px;
}
.square_map{
    height: 67px;
    width: 67px;
    background-color: #2d2d2f;
    padding-top: 4px;
    /*margin-top: 207px;*/
    margin-left: 657px;
}
.square_map1{
    margin-left: 4px;
    height: 59px;
    width: 59px;
    background-color: #2d2d2f;
    border: 2px solid #a1a1a1;
    padding-top: 13px;
    text-align:center
}
.triangle_map{
    width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid #2d2d2f; 
    margin: 1px auto;
}
footer {
    height: 686px;
    width: 1600px;
    background: url(../img/footer_back.png) no-repeat;
    background-repeat-y: repeat;
    background-size: 100%;
    /* background-color: rgb(245, 170, 255); */
    padding-top: 50px;
    padding-left: 215px;
    font-family: 'Crimson Pro', serif;
    letter-spacing: 2px;
}
#logotype {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    color: #e2e3e3;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    width: 164px;
    margin-bottom: 40px;
}
#logotype img{
    margin-right: 10px;
}
.textFooter{
    width: 370px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    color: #949494;
    padding-bottom: 34px;
}
.textFooterUpper{
    width: 370px;
    font-family: 'Montserrat'; 
    letter-spacing: 1.5px;
    font-size: 13px;
    text-transform: uppercase;
    color: #e3e3e3;
    padding-bottom: 24px;
}

.field_text{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 373px;
    height: 55px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    /* font-style: italic; */
    color: #ddd;
    letter-spacing: 2px;
    margin-right: 20px;
} 
.field_text1{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 373px;
    height: 55px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    /* font-style: italic; */
    color: #ddd;
    letter-spacing: 2px;
    margin-bottom: 25px; 
} 
.field_text_message{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 773px;
    height: 95px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    color: #ddd;
    letter-spacing: 2px; 
    padding-bottom: 45px;
    border-color: #464646;
} 
.button{
    margin-top: 22px;
    background-color:#464646;
    color: #e3e3e3;
    font-family: 'Montserrat'; 
    font-size: 13px;
    letter-spacing: 1px;
    width: 135px;
    height: 40px;
    outline: none;
    border: none;
    border: solid 2px #464646;
    color:#c4c4c4;
    cursor: pointer;
}
.button:hover{
   opacity: 0.5; 
   transform: scale(0.95);
}
#textAboutCompany{
    width: 278px;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
    color: #7f7f7f;
    margin-top: 30px;
}
footer input{
    outline: none;
    border: none;
    border: solid 3px #464646;
    color:white;
}
footer> div{
    width:1170px; 
    height:487px;
    margin-top: 40px; 
    border-bottom:1px solid #3e3e3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.white-after a{
    color: #aaa;
}
form {
    width: 803px;
    padding-bottom: 60px;
    padding-left: 30px;
}
footer input::placeholder{
    font-style: italic;
    color:#949494;
}
#kompas_block{
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #2d2d2f;
}
#kompas_block img{
    margin-left: 150px;
}
#kompas_block>div{
    width: 45%;
    letter-spacing: 1px;
}
#kompas_block>a{
    margin-right: 150px;
}
#kompas_sagolov{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #d8d8d8;
}
#kompas_descrp{
    font-size: 15px;
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    color: #888888;
    margin-top: 10px;

}
#kompas_block .contactbutton{
    background-color: #2d2d2f;
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
}
#kompas_block .contactbutton:hover{
    background-color: #e3e3e3;
    color: #2d2d2f;
}
#kompas_block .contactbuttondd{
    background-color: #2d2d2f;
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
}
#kompas_block .contactbuttondd:hover{
    background-color: #e3e3e3;
    color: #2d2d2f;
}
#info_bl_k{
    margin: 35px 215px 65px 215px;
    display: flex; 
    width: 1170px;
    height: 158px;
    justify-content: space-evenly;
}
.name_marg_k{
    padding-top: 208px;
     padding-left: 30px;
}
#button_collection_k{
    padding-top: 30px;
    margin-left: 604px;
    margin-top: 55px;
}
.price_dollar_symb_k{
    width: 21px; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 28px; 
    margin-left: 122px;
}
.price_num_k{
    font-family: 'Montserrat', sans-serif; 
    font-size: 70px; 
    margin-top: -35px;
}
.little_title_k{
    font-family: 'Montserrat', sans-serif; 
    font-size: 13px; 
    margin-top: 47px;
}
.full_access_k{
    font-family: Crimson Pro; 
    font-style: italic; 
    font-size: 16px;
}
.italic_k{
    margin-top: 12px;
}
#footer_text_k{
    margin-top: 40px; 
    border-bottom:1px solid #3e3e3e;
}
#dd_text
{
    text-align: left;
}
.dd_offset
{
    padding-top: 10px;
}
.dd_margin10
{
    margin-bottom: 10px;
}
.dd_margin3
{
    margin-bottom: 3px;
}
.dd_margin20
{
    margin-bottom: 20px;
}
.dd_font45
{
    font-size: 45px;
}
.dd_margin4
{
    margin-bottom: 4px;
}
.dd_margin5
{
    margin-bottom: 5px;
}
#dd_lamp_img
{
    background-image: url('../img/Lamp.png');
}
.dd_width70
{
    width: 70px;
}
#dd_monik_img
{
    background-image: url('../img/Monik.png');
}
.dd_width6538
{
    width: 65.38px;
}
#dd_chart_img
{
    background-image: url('../img/Chart.png');
}
.dd_width8338
{
    width: 83.38px;
}
#dd_letter_img
{
    background-image: url('../img/W-letter.png');
}
.dd_width10009
{
    width: 100.09px;
}
.dd_margin60
{
    margin-bottom: 60px;
}
.dd_margin0_padding60
{
    margin-top: 0; 
    padding-top: 60px;
}
.dd_width60
{
    width: 60px;
}
.dd_padding10
{
    padding-top: 10px;
}
.dd_width100
{
    width: 100px;
}
.dd_width85
{
    width: 85px;
}
#dd_1png
{
    background-image: url('../img/pictureset/1.png');
    height: 60%;
}
#dd_2png
{
    background-image: url('../img/pictureset/2.png');
    height: 40%;
}
#dd_3png
{
    background-image: url('../img/pictureset/3.png'); 
    height: 40%;
}
#dd_4png
{
    background-image: url('../img/pictureset/4.png'); 
    height: 60%;
}
#dd_5png
{
    background-image: url('../img/pictureset/5.png'); 
    height: 30%;
}
#dd_6png
{
    background-image: url('../img/pictureset/6.png'); 
    height: 70%;
}
#dd_7png
{
    background-image: url('../img/pictureset/7.png'); 
    height: 65%;   
}
#dd_8png
{
    background-image: url('../img/pictureset/8.png'); 
    height: 35%;
}
.dd_height8759
{
    height: 87.59px;
}
.dd_margin125
{
    margin-left: 125px;
}
.dd_margin50
{
    margin-top: 50px;
}
#dd_color2d
{
    background-color: #2d2d2f;
}
#dd_color5555
{
    background-color: #555557;
}
#dd_color4242
{
    background-color: #424244;
}
#dd_color2323
{
    background-color: #232325; 
}
#dd_text_center
{
    text-align: center;
}
.dd_padding30
{
    padding-bottom: 30px;
}
#first_man_photo_k
{
    background-image: url('../img/man.png');
}
#first_man_photo_k:hover #first_man_info_k 
{
    opacity: .5;
    display: block;
}
#second_man_photo_k
{
    background-image: url('../img/woman.png');
}
#second_man_photo_k:hover #second_man_info_k 
{
    opacity: .5;
    display: block;
}
#third_man_photo_k
{
    background-image: url('../img/woman2.png');
}
#third_man_photo_k:hover #third_man_info_k {
    opacity: .5;
    display: block;
}
span
{
    display: block;
}
#portfolio-title{
    margin-top: 0;
    padding-top: 50px;
}
#dd_podvalny
{
    
}
#ddAlert
{
    width: 400px;
    height: 200px;
    text-align: center;
    display: none;
    position: fixed;
    line-height: 200px;
    user-select: none;
    font-size: 23px;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    background-color: #777;
    color: white;
}
#ddSignUp
{
    
}