*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
a{
    text-decoration: none;
    color: #757575;
}
li{
    list-style-type: none;
}
#wraper{
    width: 1600px;
    background-color: #E3E3E3;
}

#header{
    background-color: #FFF;
    height: 63px;
    font-family: 'Montserrat', sans-serif;
    color: #757575;
    letter-spacing: 3px;
    /*line-height: 63px;*/
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}
#first_background{
    background-image: url('../img/first_background.png');
    background-repeat: no-repeat;
    height: 698px;
}
#logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#logo img{
    height: 36px;
}
#top_menu{
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 12px;
    width: 700px;
    justify-content: space-evenly;
}
.sub_menu{
    
    height: 100%;
    line-height: 63px;
    user-select: none;
    transition: all 0.5s;
    color:red; 
}
.sub_menu a{
    transition: all 0.5s;
}

.sub_menu:hover a{
    font-size: 14px;
    color:red; 
}
#contacts{
    display: flex;
    align-items: center;
}
#contacts li{
    display: inline-block;
}
#contacts li::after{
    content: "|";
    font-size: 19px;
}
#contacts li:last-child::after{
    content: none;
}